<h2 style="text-align: center">Serial Section Log</h2>
<br>
<style type="text/css">
	td{
		padding: 20px
	}
	mat-card {
		padding: 20px !important
	}
	mat-card:hover {
		background-color: #e6e6e6;
	}
</style>
<div style="margin: auto; max-width: 1200px ">
	<table style="width:100%">
		<tr>
			<td style="width: 33.33%">
				<mat-card>
					<a href="javascript:void(0)" (click)="openDialog(1)"><img src="../assets/1.png" style="width: 100%"></a>
				</mat-card>
			</td>
			<td style="width: 33.34%">
				<mat-card>
					<a href="javascript:void(0)" (click)="openDialog(2)"><img src="../assets/2.png" style="width: 100%"></a>
				</mat-card>
			</td>
			<td style="width: 33.33%">
				<mat-card>
					<a href="javascript:void(0)" (click)="openDialog(3)"><img src="../assets/3.png" style="width: 100%"></a>
				</mat-card>
			</td>
		</tr>
		
	</table>
</div>