<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Aura Gorgeous System</span>
    <span class="example-spacer"></span>
    <button mat-button   [routerLink]="['/info']" ><mat-icon>touch_app</mat-icon>Info</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container style="height: 100%">
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <div id="sidenav">
    <a mat-button   [routerLink]="['/login']" ><mat-icon>supervised_user_circle</mat-icon> Login</a><br>
    <a mat-button   [routerLink]="['/main']" ><mat-icon>dashboard</mat-icon> Serial Section</a><br>
    </div>
  </mat-drawer>

  <div>
    <button type="button" mat-button (click)="drawer.toggle()">
      <i class="material-icons">reorder</i>
    </button>

    <div style="padding: 20px">

      <router-outlet></router-outlet>
      
    </div>
  </div>


</mat-drawer-container>

