<mat-card class="example-card">
  <mat-card-header>
    <h3>CP</h3>
  </mat-card-header>
  <mat-card-content>
    	<table style="width: 100%;margin-bottom: -15px">
    		<tr>
    			<td>
					<mat-form-field appearance="outline">
					    <mat-label>Search</mat-label>
					    <input #tid matInput placeholder="keyword" [(ngModel)]='search' autocomplete="off" (keyup)="keyDownFunction()">
					    <mat-icon matSuffix>search</mat-icon>
				  	</mat-form-field>
    			</td>
    			<td>
    				<a mat-raised-button style="float: right;" (click)="openDialog(2)"><mat-icon>add</mat-icon> Add Record</a>
    			</td>
    		</tr>
    	</table>
   	<div style="max-height: calc(100vh - 416px);overflow-y: auto;">
  	<table id="tableapp"  *ngIf="global.tdatacp!=undefined">
  		<tr>
        <th style="width: 150px">CP No.</th>
  			<th style="min-width: 100px">Name of Proponent</th>
  			<th style="min-width: 100px">Project Title</th>
  			<th style="width: 120px">Date of Issuance</th>
  			<th style="width: 150px">Location</th>
  			<th style="width: 100px">Attachment</th>
  			<th style="text-align: center;width: 100px !important;">- Action -</th>
  		</tr>
  		<tr *ngFor="let a of collection | paginate: { itemsPerPage: 10, currentPage: p };let i = index">
  			<td>{{a.controlno}}</td>
  			<td>{{a.name}}</td>
  			<td>{{a.title}}</td>
  			<td>{{a.dataissue | date: 'mediumDate'}}</td>
        <td>{{a.location}}</td>
        <td style="padding: 5px  2px  5px  2px">
          
          <table style="width: 100%;cursor: pointer;" border="0" (click)='openpdf(a.controlno,a.attachname)'>
            <tr style="border-style: hidden">
              <td style="width: 30px;border-style: hidden;padding: 0"><img src="assets/pdf-icon.png" style="width: 30px"></td>
              <td style="border-style: hidden;padding-left: 0">
                <span style="color: #3f51b5;">{{getattachmentsize(a.attachname)}}</span></td>
            </tr>
          </table>
          </td>
  			<td style="text-align: center;">
        		<button style="height: 25px;width: 35px;border-width: 2px;" (click)="openDialog(3,a)">
        			<span class="material-icons" style="font-size: 18px;color: #3f51b5">create</span>
        		</button>&nbsp;
        		<button style="height: 25px;width: 35px;border-width: 2px;" (click)="deleteit(a.id)">
        			<span class="material-icons" style="font-size: 18px;color: #f44336">delete</span>
        		</button>
    		</td>
  		</tr>
  		
  	</table>
    <div  *ngIf="global.tdatacp!=undefined">
    <p style="text-align: center;" *ngIf="global.tdatacp.length==0">
      - No Record! -
    </p>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="global.tdatacp==undefined"></mat-progress-bar>

  </div>
  <table style="width: 100%">
    <tr>
      <td style="width: 150px">{{collection.length}} record(s) found!</td>
      <td>
  <pagination-controls (pageChange)="p = $event"></pagination-controls> </td>
    </tr>
  </table>
  </mat-card-content>
</mat-card>